.attendence-view-container {
  margin-top: 6%;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.display-container-charts {
  display: flex;
  justify-content: start;
  gap: 50px;
}
.single-total-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 500px;
  height: fit-content;
  background-color: white;
  border-radius: 8px;
}
.attendence-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.charts-section {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 100px;
}
.single-chart {
  display: flex;
  padding: 20px;
  width: 300px;
  height: fit-content;
  background-color: white;
  border-radius: 8px;
}
.chart-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.chart-card {
  display: flex;
  justify-content: end;
}
.attendence-view-table-data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.attendence-charts-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.attendence-passport-container,
.attendence-company-container {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
}

.edit-button {
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: #efb034;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 136px;
  height: 52px;
}
