.attendence-view-container {
  margin-top: 6%;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.attendence-view-table-data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.attendence-charts-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.attendence-passport-container,
.attendence-company-container {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
}

.edit-button {
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: #efb034;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 136px;
  height: 52px;
}
