.follow-up-expenses-page{
    margin-top: 6%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 20px;
    margin-left: 20px;
}

.follow-up-expenses-filters{
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    gap: 20px;
}

.follow-up-expenses-form{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
}

.follow-up-expenses-form div{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 20px;
    font-size: large;
}

.follow-up-expenses-field-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.follow-up-expenses-field-wrapper select ,.follow-up-expenses-field-wrapper input{
    width: 200px;
    height: 45px;
    padding: 0 20px;
    border-radius: 8px;
    outline: none;
    border: #bcc1ca 1px solid;
    text-align: right;
    font-size: large;
}
.follow-up-expenses-field-wrapper #date{
    width: 130px;
    height: 37px;
    padding: 0;
    margin: 0;

}

.follow-up-expenses-table-container{
    width: 100%;
}