.supervisor-Lecturer-add-container {
  margin-top: 6%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: orange; */
}
.supervisor-damaged-passport-add-containe h1 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  text-align: start;
  width: 100%;
  color: #333;
}
.SuperVisor-Lecturer-title-conatiner {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  text-align: start;
  width: 100%;
  color: #333;
}
.add-Lecturer-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.add-Lecturer-details-container input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 267px;
  height: 45px;
}
.add-Lecturer-details-container Form label {
  font-size: large !important;
  font-family: "Cairo", sans-serif;
}
.add-Lecturer-details-container form {
  width: 100%;
}
.add-Lecturer-section-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.add-Lecturer-fields-container {
  background-color: #ffff;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  gap: 50px;
}
.Lecturer-add-image-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffff;
  gap: 30px;
  padding: 40px;
  width: 100%;
}
.Lecturer-dragger-container {
  width: 40%;
  height: 300px;
}
.Lecturer-image-preivwer-container {
  width: 50%;
}
.Lecturer-image-previewer-section {
  display: flex !important;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;
}
.ant-upload-drag-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.add-back-button {
  /* add color red */
  background-color: red;
  border: 2px solid red;
  color: white;
  font-weight: bold;
}
.add-back-button:hover {
  /* add color red */
  background-color: white !important;
  color: red !important;
  font-weight: bold !important;
}
