.supervisor-passport-dameged-page {
  margin-top: 6%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-right: 20px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

.sidebar-collapsed.supervisor-passport-dameged-page {
  margin-left: 1%;
  width: 105%;
}

.supervisor-passport-dameged-title {
  font-size: 2em;
  font-weight: bold;
}

.supervisor-passport-dameged-filters {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;
  padding: 20px 0px 20px 20px;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.supervisor-passport-dameged-filters.animate-show {
  max-height: 300px;
  opacity: 1;
  justify-content: flex-start;
  transition: max-height 0.6s ease, opacity 0.6s ease;
}

.supervisor-passport-dameged-filters.animate-hide {
  max-height: 0;
  opacity: 0;
  justify-content: flex-start;
  transition: max-height 0.6s ease, opacity 0.6s ease;
}
.supervisor-passport-dameged-filters #date {
  width: 200px;
  height: 35px;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
}
.supervisor-passport-dameged-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.supervisor-passport-dameged-input,
.supervisor-passport-dameged-dropdown {
  width: 267px;
  height: 45px;
  padding: 0 20px;
  border-radius: 8px;
  outline: none;
  border: #bcc1ca 1px solid;
  font-size: large;
}

.supervisor-passport-dameged-input:hover,
.supervisor-passport-dameged-dropdown:hover {
  border: #1677ff 1px solid;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
}

.supervisor-passport-dameged-input:focus,
.supervisor-passport-dameged-dropdown:focus {
  border: #1677ff 1px solid;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
}

.supervisor-passport-dameged-button {
  background-color: #4880ff;
  color: white;
  width: 120px;
  height: 45px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: large;
}

.supervisor-passport-dameged-table-container {
  width: 100%;
}

.supervisor-passport-dameged-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 8px;
}

.table-column-passport-number,
.table-column-damage,
.table-column-date,
.table-column-details {
  text-align: center;
}

.supervisor-passport-dameged-details-link {
  background-color: #4880ff;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.supervisor-passport-dameged-details-link:hover {
  background-color: #0056b3;
}
.supervisor-passport-dameged-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 10px;
}
.supervisor-passport-dameged-form div {
  display: inline-flex;
  gap: 10px;
}

.filter-buttons {
  margin-top: 0;
}

.supervisor-passport-dameged-table-container table thead th {
  text-align: center !important;
}
