.damaged-devices-page{
    margin-top: 6%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 20px;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.damaged-devices-filters{
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 20px;
    width: 55%;
}

.damaged-devices-form{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}
.damaged-devices-form div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: start;
}


.damaged-devices-field-wrapper {
    display: flex;
    flex-direction: column;
  
}

.damaged-devices-field-wrapper select {

    width: 200px;
    height: 45px;
    padding: 0 20px;
    border-radius: 8px;
    outline: none;
    border: #bcc1ca 1px solid;
    font-size: large;
}

.damaged-devices-field-wrapper select:hover {
    border: #1677ff 1px solid;
    transition: 0.2s;
}
.damaged-devices-field-wrapper select:focus {
    border: #1677ff 1px solid;
    transition: 0.2s;

}
.damaged-devices-field-wrapper #date {
    border-radius: 8px;

    width: 160px;
    height: 37px;
}
.damaged-devices-table-container{
    width: 100%;
}