.attendance-card-container-stats{
    display: flex;
    gap: 20px;
}
.attendance-filters-stats{
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: end;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
.attendance-filters-stats input{
    width: 267px;
    height: 45px;
    padding: 0 10px;
    border-radius: 8px;
    outline: none;
    border: #bcc1ca 1px solid;
    font-size: large;

}
.attendance-filters-stats select{
    width: 267px;
    height: 45px;
    padding: 0 10px;
    border-radius: 8px;
    outline: none;
    border: #bcc1ca 1px solid;
    font-size: large;

}
.attendance-filters-stats button{

}
.attendance-filter input{
    width: 200px !important;
}
.attendance-filter{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#attendence-chart-stats{
    box-shadow: none;
    background-color: none;
}
.attendance-filters-stats button{
    background-color: #4880ff;
    color: white;
    width: 120px;
    height: 45px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: large;
}
.card-attendence-stats-container{
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.attendance-charts-stats{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.attendance-charts-stats text{
    margin-right: 10px !important;
}

.attendance-additional-info{
    width: 200px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}