.expensess-date{
    margin-top: 6%;
    margin-right: 7%;
    text-align: center;
}

.expensess-view-container{
    max-width: 1400px;
    /* Limit the width */
    margin-top: 2%;
    margin-left: 9%;
    padding: 20px;

    border-radius: 8px;
    /* Smooth rounded corners */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}


.expenssses-print-button{
    width: 300px;
    height: 60px;
    background-color: #f3f4f6;
    border: #9095a0 1px solid;
    border-radius: 8px;
    cursor: pointer;
}

.expensess-view-container hr {
    height: 2px;
    width: 100%;
    margin: 10px 0;
}

.expensess-view-small-containers{
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 20px;
    gap: 90px;
    background-color: white;
    width: 40%;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;    
}

.expensess-view-smaller-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    
   
}

.expensess-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

