.delete-button-container {
  display: flex;
  justify-content: center;
  margin: auto;
}
.image-delete-button-container {
  display: flex;
  justify-content: center;
  margin: auto;
}
.delete-button {
  margin-top: 20px;
}
