@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

:root {
  height: 100vh;
  font-family: "Cairo", sans-serif;
  --bg-color: #171a1f;
  background-color: #f4f7fe;
}

input,
select,
textarea {
  outline: none;
  font-size: larger;
}

table thead tr th {
  background-color: #f3f4f6 !important;
}
table thead,
table {
  font-size: large !important;
}
