@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
=======
  scrollbar-width: none;
  font-family: "Cairo", sans-serif !important;
}
* label {
  font-family: "Cairo", sans-serif !important;
  font-weight: bold;
>>>>>>> 9a20a5b456a1b521457140a142fff6b92c96e400
}

:root {
  height: 100vh;
  --bg-color: #171a1f;
  background-color: #f4f7fe;
}

input,
select,
textarea {
  outline: none;
  font-size: larger;
}

table thead tr th {
  background-color: #f3f4f6 !important;
}

table {
  font-size: large !important;
}

/* Custom Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border: 2px solid #f1f1f1;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Custom Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* For dark mode support */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #2d2d2d;
  }

  ::-webkit-scrollbar-thumb {
    background: #666;
    border-color: #2d2d2d;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  * {
    scrollbar-color: #666 #2d2d2d;
  }
}