.edidting-modal-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    justify-content: space-around;
}

.edidting-modal-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.edidting-modal-container .css-dev-only-do-not-override-1wwf28x{}